*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sec2{
    background-color: #e29460;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec3{
    background-color: #96a4b2;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec4{
    background-color: #3b4782;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec5{
    background-color: #322d30;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec6{
    background-color: #f9fafa;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec7{
    background-color: #d04942;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec8{
    background-color: #e29460;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec9{
    background-color: #e29460;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.sec10{
    background-color: #e29460;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}
.section{
    height: 100%;
    width: 100%;
}

.contain{
    width: 100%;
    height: 100px;
    background-color: white;
    text-align: center;
}
.pparallax{
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100px;
}
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10 {
    height: 100vh; 
}
   .titulo-gen { 
      color: white;
      font-weight: 700;
      font-size: 2rem;
      border-radius: 40px;
      padding: 10px 40px;
      display: inline-block;
      margin-bottom: 30px;
    }

    .card-gen {
 
      border-radius: 20px;
      padding: 25px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    }

    .texto-gen {
      color: #222;
      font-size: 0.9rem;
      text-align: justify;
    }

    .img-gen {
      border-radius: 10px;
      width: 100%;
      max-width: 250px;
    }
